

        <div class ="container">
          <h3>New Workout</h3>
        <%= form_for @workout do |f| %>
              <form>
            <div class="form-row">
            <div class="form-group col-md-6">
      <label for="inputEmail4">Name of Your Workout</label>
      <%= f.text_field :name, placeholder: "workout name", class: "form-control", id: "inputEmail4" %>
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Date</label>
      <%= f.text_field :date, placeholder: "date", class: "form-control", id: "inputEmail4" %>
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Targeted Mucsles:</label>
      <%= f.text_field :muscles, placeholder: "workout mucsles", class: "form-control", id: "inputEmail4" %>
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Weight:</label>
      <%= f.text_field :weight, placeholder: "weight", class: "form-control", id: "inputEmail4" %>
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">sets</label>
      <%= f.text_field :set, placeholder: "sets", class: "form-control", id: "inputEmail4" %>
    </div> 

    <div class="form-group col-md-6">
      <label for="inputEmail4">Reps</label>
      <%= f.text_field :rep, placeholder: "reps", class: "form-control", id: "inputEmail4" %>
    </div> 

    <div class="form-group col-md-6">
      <label for="inputEmail4">Image</label>
      <%= f.text_field :img, placeholder: "img", class: "form-control", id: "inputEmail4" %>
    </div> 

    <div class="form-group col-md-6">
      <label for="inputEmail4">Note</label>
      <%= f.text_field :note, placeholder: "  ", class: "form-control", id: "inputEmail4" %>
    </div> 

    <%= f.submit %>
    </div>
  </div>
  </div>
    </form>
 
    <% end %>
