

<div class = 'show_img'>
<img src=<%=@workout.img%> alt="chest" width="200" height="200"> 
</div>
<ul class="list-group">
  <li class="list-group-item">  Workout: <%= @workout.name %>  </li>
  <li class="list-group-item">   Mucsles targeted:  <%= @workout.muscles %></li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">  Weight: <%= @workout.weight%> </li>
  <li class="list-group-item"> Set: <%= @workout.set %> </li>
  <li class="list-group-item">   Rep: <%= @workout.rep %> </li>
  <li class="list-group-item">   Comment: <%= @workout.note%> </li>
  </ul>

   <%= button_to "Edit This Workout", edit_workout_path(@workout), method: :get %>
  <!-- <%= button_to "All Workout", workouts_path, method: :get %> -->
 <%= button_to 'Remove Workout', workout_path(@workout), method: 'delete', data: { confirm: 'Are you sure?' } %>



